Blotter/Service References/TradeData/Blotter.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Blotter.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Blotter.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Trade">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuySell" type="tns:BuySell" />
      <xs:element minOccurs="0" name="Counterparty" nillable="true" type="tns:Counterparty" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="tns:Security" />
      <xs:element minOccurs="0" name="State" type="tns:State" />
      <xs:element minOccurs="0" name="Units" type="xs:int" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trade" nillable="true" type="tns:Trade" />
  <xs:simpleType name="BuySell">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuySell" nillable="true" type="tns:BuySell" />
  <xs:complexType name="Counterparty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Counterparty" nillable="true" type="tns:Counterparty" />
  <xs:complexType name="Security">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coupon" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" type="tns:Currency" />
      <xs:element minOccurs="0" name="Isin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaturityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Security" nillable="true" type="tns:Security" />
  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GBP" />
      <xs:enumeration value="USD" />
      <xs:enumeration value="EUR" />
      <xs:enumeration value="JPY" />
      <xs:enumeration value="SEK" />
      <xs:enumeration value="NOK" />
      <xs:enumeration value="GEL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Matched" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Amended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="ArrayOfTrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trade" nillable="true" type="tns:Trade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrade" nillable="true" type="tns:ArrayOfTrade" />
</xs:schema>